<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%=params[:name]%> </h1>
<br>
 <strong>Coach: <%=params[:coach]%> </strong>
 <br>
 <strong>Point Guard: <%=params[:pg]%> </strong>
 <br>
 <strong>Shooting Guard: <%=params[:sg]%> </strong>
 <br>
 <strong>Power Forward: <%=params[:pf]%> </strong>
 <br>
 <strong>Small Forward: <%=params[:sf]%> </strong>
 <br>
 <strong>Center: <%=params[:c]%> </strong>


 </body>
</html>


